* {
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-areas: 'conversor'
                         'conversor'
                         'grafico'
                         'grafico';
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    background-color: black;
}

h1{ 
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.conversor{
    margin-left: 500px;
    text-align: center;
    align-content: center;
    width: 350px;
    height: 200px;
    background-color: gray;
    border-radius: 5%   ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color: white;
}

.btn{
    background-color: blue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grafico{
    display: flex;
    justify-content: center;
    background-color: white;
}