* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h1{
    
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.conversor{
    text-align: center;
    width: 350px;
    height: 200px;
    background-color: gray;
    border-radius: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color: white;
}

.btn{
    background-color: blue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}